# Entorno virtual
venv/
.venv/
env/
ENV/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos local (NO subir a Git)
*.db
*.sqlite
*.sqlite3

# VSCode
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini